/* .contain{
    width: 95vw;
} */

.option{
    width: 25rem;
    height: 27rem;
    align-items: center;
    border-radius: 7px;
    background: url('/public/media/bg.avif');
    background-attachment: fixed;
    box-shadow: 0 2px 4px rgba(68, 76, 92, 0.5);
    transition: all 1ms ease-in-out;
}

.option:hover{
    cursor: pointer;
    box-shadow: 0px 72px 49px -51px rgba(136, 160, 255, 0.021);
}